In [1]:
import csv
import pandas as pd
from pandas import DataFrame
import numpy as np
import calendar

In [3]:
dfa=pd.read_csv(r'C:\Users\smrut\Documents\Python\PythonAssignment3\Assignment 3\Data\cricket_matches.csv',sep=",")
dfa.head()

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
2,Midlands/Wales/West Group:Somerset v Warwicksh...,Warwickshire won by 19 runs,Warwickshire 188/7 (20/20 ov); Somerset 169 (2...,13/06/2003,Taunton,Midlands/Wales/West Group,Somerset,Warwickshire,Warwickshire,19.0,...,7.0,20.0,20.0,Somerset,169.0,10.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN

In [27]:
#Host and winner are same
dfa=dfa.loc[dfa['home'] == dfa['winner']]
dfa.head()

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN
5,Midlands/Wales/West Group:Gloucestershire v Wo...,Gloucestershire won by 4 wickets (with 5 balls...,Worcestershire 122 (19.5/20 ov); Gloucestershi...,14/06/2003,Bristol,Midlands/Wales/West Group,Gloucestershire,Worcestershire,Gloucestershire,NaN,...,10.0,19.5,20.0,Gloucestershire,126.0,6.0,19.1,20.0,NaN,NaN

In [109]:
if dfa.home in dfa.innings1:
    dfb=pd.DataFrame(dfa.groupby('home').innings1_runs.avg())
#elif dfa.home.equals(dfa.innings2):
 #   dfd=pd.DataFrame(dfa.groupby('winner').innings2_runs.mean())

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [101]:
dfb=dfb.rename(columns = {'innings2_runs':'Scores'})

In [102]:
dfb

                                           Scores
home
Abahani Limited                         95.000000
Abbottabad Falcons                     120.363636
Abbottabad Region                      155.000000
Abbottabad Rhinos                      164.500000
Adelaide Strikers                      149.555556
Afghanistan                            124.804878
Andhra                                 117.769231
Antigua                                 98.000000
Antigua Hawksbills                     106.000000
Antigua and Barbuda                    129.000000
Assam                                  127.812500
Auckland                               147.942857
Australia                              131.848485
Australia A                            160.500000
Azad Jammu & Kashmir Region             65.000000
Badureliya Sports Club                 135.900000
Bahawalpur Region                      143.600000
Bahawalpur Stags                       139.333333
Baluchistan                            110.000000
Bangladesh                             124.933333
Bangladesh A                           155.000000
Bangladesh XI                          132.000000
Barbados                                98.461538
Barbados Tridents                      124.076923
Barisal Bulls                          148.750000
Barisal Burners                        149.818182
Barisal Division                       118.000000
Baroda                                 132.571429
Basnahira                              130.000000
Basnahira Cricket Dundee                95.000000
...                                           ...
Sylhet Super Stars                     112.000000
Tamil Nadu                             157.000000
Tamil Union Cricket and Athletic Club  143.875000
Tasmania                               138.428571
Titans                                 142.850000
Trinbago Knight Riders                 159.000000
Trinidad & Tobago                      119.000000
Trinidad & Tobago Red Steel            138.363636
Udarata Rulers                         131.500000
Uganda                                 124.000000
United Arab Emirates                   128.166667
Uthura Rudras                          156.000000
Uthura Yellows                         152.000000
Uttar Pradesh                          135.142857
Uva Next                               101.000000
Victoria                               148.416667
Warriors                               133.114286
Warwickshire                           144.025000
Wayamba                                131.750000
Wayamba United                         112.500000
Wellington                             154.823529
West Indies                            119.500000
West Indies A                          111.600000
Western Australia                      140.875000
Western Province                       127.500000
Western Troopers                       121.000000
Worcestershire                         155.911765
Yorkshire                              143.729730
Zimbabwe                               155.000000
Zimbabwe XI                            146.666667

[275 rows x 1 columns]